[Unit]
Description=Node Exporter

[Service]
EnvironmentFile=/etc/default/node-exporter
ExecStart=/usr/bin/node_exporter $NODE_EXPORTER_ARGS

[Install]
WantedBy=multi-user.target
